body {
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

h1 {
  color: midnightblue;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-top: 40px;
}

.p1 {
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-left: 70px;
  margin-right: 70px;
}


 .contact {
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-top: 30px;
}

footer {
    background-color: midnightblue;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    bottom: 0;
    position: relative;
    height: 5vw;
    display: flex;
    justify-content: center;
}

img {
  width: 60%;
  margin-left: 18rem;

}

.index {
  color: midnightblue;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-top: 200px;
}

input [type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #b4afaf; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: rgb(111, 111, 191);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  border-radius: 5px;
  background-color: #cabfde;
  padding: 70px;
}